@import "variable.styl"

html 
  height: 100%	
body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  background-image: url(../images/bg.png)
  background-size: 100% 100%
  transform-origin: left top
  overflow: hidden
#app
  position: absolute
  top:0
  left:0
  width: 100%
  height: 100%  